@import "functions";
@import "variables";
@import "spacing";

/* Material */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* App */
.navbar {
  justify-items: flex-end;
}

.mat-nav-list.list-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  .mat-list-item {
    // display: inline-block;
    height: auto;
    width: auto;
  }
}
