<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="onFetchRecipes()">Fetch Recipes</button>
  <button mat-menu-item (click)="onStoreRecipes()">Store Recipes</button>
</mat-menu>

<mat-toolbar color="primary" class="navbar">
  <span [routerLink]="modulePath">Playground</span>
  <mat-nav-list class="list-horizontal">
    <a mat-list-item [routerLink]="[modulePath, 'recipes']" class="nav-link">
      <mat-icon>restaurant</mat-icon>
    </a>
    <a mat-list-item [routerLink]="[modulePath, 'shopping-list']" [matBadge]="getItemsCount()" matBadgeColor="accent"
      class="nav-link">
      <mat-icon>local_grocery_store</mat-icon>
    </a>
    <a mat-list-item [matMenuTriggerFor]="menu" class="nav-link">
      <mat-icon>backup</mat-icon>
    </a>
  </mat-nav-list>
</mat-toolbar>