<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">Recipe Book</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="/learning/recipe-book/recipes" class="nav-link">Recipes</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="/learning/recipe-book/shopping-list" class="nav-link">Shopping List <span class="badge">{{getItemsCount()}}</span></a>
      </li>
      <li class="nav-item dropdown" [ngClass]="{'show': menuOpened}">
        <a class="nav-link dropdown-toggle" (click)="onToggleMenuOpened()" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true">
          Admin
        </a>
        <div class="dropdown-menu" [ngClass]="{'show': menuOpened}" aria-labelledby="navbarDropdown">
          <a (click)="onFetchRecipes()" class="dropdown-item">Fetch Recipes</a>
          <a (click)="onStoreRecipes()" class="dropdown-item">Store Recipes</a>
        </div>
      </li>
    </ul>
  </div>
</nav>