<div class="row">
  <div class="col-xs-12">
    <form id="shopping-list-add" #form="ngForm" (ngSubmit)="onSubmit(form.value)">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="item-name">Name</label>
          <input 
            id="item-name"
            name="name"
            [(ngModel)]="item.name"
            type="text"
            required 
            class="form-control">
        </div>

        <div class="col-sm-2 form-group">
          <label for="item-amount">Amount</label>
          <input 
            id="item-amount" 
            type="number"
            name="amount"
            [(ngModel)]="item.amount"
            required 
            class="form-control">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success" type="submit" [disabled]="!form.valid">{{isAdd ? "Add" : "Save"}}</button>
          <button class="btn btn-danger" type="button" *ngIf="!isAdd" (click)="onDelete()">Delete Item</button>
          <button class="btn btn-primary" type="button" (click)="onClear()">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
