<h1 mat-dialog-title>Edit Ingredient</h1>
<div mat-dialog-content>
  <form [formGroup]="ingredientForm">
    <mat-form-field class="max-width">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" placeholder="name">
      <mat-error *ngIf="ingredientForm.get('name').invalid">
        Please enter a valid name
      </mat-error>
    </mat-form-field>
    <mat-form-field class="max-width">
      <mat-label>Amount</mat-label>
      <input matInput formControlName="amount" placeholder="amount">
      <mat-error *ngIf="ingredientForm.get('amount').invalid">
        Please enter a valid amount
      </mat-error>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancelClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="ingredientForm.value" [disabled]="ingredientForm.invalid" cdkFocusInitial>
    Ok
  </button>
</div>